# Dépendances Node.js
node_modules/
npm-debug.log

# Build Frontend (Vite)
dist/
build/

# Environnement & Secrets
.env
.env.local

# Base de données & Stockage
# On ignore les fichiers .db réels mais on garde le dossier prisma/migrations
*.db
*.db-journal
/data/*
!/data/.gitkeep

# Dossier des sauvegardes automatiques
/backups/*
!/backups/.gitkeep

# Fichiers Système & IDE
.DS_Store
.vscode/
.idea/
thumbs.db

# Logs Docker (si montés localement)
docker-logs/